<div class="continent-links">
  <li><%= link_to "Africa", continent_path("Africa"), class: "nav-link" %></li>
  <li><%= link_to "Asia", continent_path("Asia"), class: "nav-link" %></li>
  <li><%= link_to "Europe", continent_path("Europe"), class: "nav-link" %></li>
  <li><%= link_to "Oceania", continent_path("Oceania"), class: "nav-link" %></li>
  <li><%= link_to "N. America", region_path("North America"), class: "nav-link" %></li>
  <li><%= link_to "C. America", region_path("Central America"), class: "nav-link" %></li>
  <li><%= link_to "S. America", region_path("South America"), class: "nav-link" %></li>
  <li><%= link_to "Caribbean", region_path("Caribbean"), class: "nav-link" %></li>
</div>
