<article class="country-card-small">
  <div class="card-image-box">
    <%= image_tag(country.flag, alt: country.flag_alt, class: "flag-image") %>
  </div>
  <h2><%= country.name %></h2>
  <% case %>
  <% when wishlist && favourite %>
    <%= render "shared/wishlist_favourite_card", plane_type: "solid", heart_type: "solid" %>
  <% when wishlist %>
    <%= render "shared/wishlist_favourite_card", plane_type: "solid", heart_type: "regular" %>
  <% when favourite %>
    <%= render "shared/wishlist_favourite_card", plane_type: "regular", heart_type: "solid" %>
  <% else %>
    <%= render "shared/wishlist_favourite_card", plane_type: "regular", heart_type: "regular" %>
  <% end %>
</article>
