<div class="navbar-mobile">
  <div class="nav-welcome">
    <%= link_to root_path, class: "nav-link active" do %>
      <i class="fa-regular fa-map" alt="map icon" id="nav-map-icon"></i>
    <% end %>
  </div>
  <div class="burger-btn" id="burgerButton" data-navbar-target="burger" data-action="click->navbar#toggleNav">
    <span class="line-one" data-navbar-target="lineOne"></span>
    <span class="line-two" data-navbar-target="lineTwo"></span>
    <span class="line-three" data-navbar-target="lineThree"></span>
  </div>
  <div id="mobileMenuOverlay" class="mobile-menu-overlay hidden" data-navbar-target="menuOverlay">
    <ul class="nav">
      <% if user_signed_in? %>
        <span class="dividing-line"></span>
        <li><%= link_to "Africa", continent_path("Africa"), class: "nav-link" %></li>
        <li><%= link_to "Asia", continent_path("Asia"), class: "nav-link" %></li>
        <li><%= link_to "Europe", continent_path("Europe"), class: "nav-link" %></li>
        <li><%= link_to "Oceania", continent_path("Oceania"), class: "nav-link" %></li>
        <li><%= link_to "North America", region_path("North America"), class: "nav-link" %></li>
        <li><%= link_to "Central America", region_path("Central America"), class: "nav-link" %></li>
        <li><%= link_to "South America", region_path("South America"), class: "nav-link" %></li>
        <li><%= link_to "Caribbean", region_path("Caribbean"), class: "nav-link" %></li>
        <span class="dividing-line"></span>
        <li><%= link_to "Member's Area", dashboard_path, class: "nav-link" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></li>
        <span class="dividing-line"></span>
      <% else %>
        <span class="dividing-line"></span>
        <li><%= link_to "Africa", continent_path("Africa"), class: "nav-link" %></li>
        <li><%= link_to "Asia", continent_path("Asia"), class: "nav-link" %></li>
        <li><%= link_to "Europe", continent_path("Europe"), class: "nav-link" %></li>
        <li><%= link_to "Oceania", continent_path("Oceania"), class: "nav-link" %></li>
        <li><%= link_to "North America", region_path("North America"), class: "nav-link" %></li>
        <li><%= link_to "Central America", region_path("Central America"), class: "nav-link" %></li>
        <li><%= link_to "South America", region_path("South America"), class: "nav-link" %></li>
        <li><%= link_to "Caribbean", region_path("Caribbean"), class: "nav-link" %></li>
        <span class="dividing-line"></span>
        <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
        <span class="dividing-line"></span>
      <% end %>
    </ul>
  </div>
</div>
