<% if photo %>
  <div class="country-banner">
    <%= image_tag(photo.image_url, alt: "#{photo.image_alt}", class: "banner-image") %>
    <% if continent_or_region == "Caribbean" %>
      <h1 class="page-header" id="caribbean-header"><%= continent_or_region %></h1>
    <% else %>
      <h1 class="page-header"><%= continent_or_region %></h1>
    <% end %>
    <div class="banner-image-attributions">
      <p><%= photo.country.name %></p>
      <p>
        Photo by
        <%= link_to photo.photographer_name,
            "#{photo.photographer_url}?utm_source=the_country_club&utm_medium=referral",
            target: '_blank',
            rel: 'noopener',
            class: "photographer-link" %>
        on
        <%= link_to 'Unsplash',
            'https://unsplash.com/?utm_source=the_country_club&utm_medium=referral',
            target: '_blank',
            rel: 'noopener',
            class: "photographer-link" %>
      </p>
    </div>
  </div>
<% end %>
