<div class="home container" data-controller="scroll">
  <section class="banner">
    <% if @photo %>
      <div class="country-banner">
        <%= image_tag(@photo.image_url, alt: "#{@photo.image_alt}", class: "banner-image") %>
        <h1 class="page-header">The Country Club.</h1>
        <div class="banner-image-attributions">
          <p><%= @photo.country.name %></p>
          <p>
            Photo by
            <%= link_to @photo.photographer_name,
                "#{@photo.photographer_url}?utm_source=the_country_club&utm_medium=referral",
                target: '_blank',
                rel: 'noopener',
                class: "photographer-link" %>
            on
            <%= link_to 'Unsplash',
                'https://unsplash.com/?utm_source=the_country_club&utm_medium=referral',
                target: '_blank',
                rel: 'noopener',
                class: "photographer-link" %>
          </p>
        </div>
        <i class="fa-solid fa-chevron-down" data-action="click->scroll#scrollToFirstSection"></i>
      </div>
    <% end %>
  </section>

  <section class="home-info">
    <section class="introduction" data-scroll-target="firstSection">
      <h2 id="introduction">A travel tracker. <br> For the curious traveller.</h2>
      <ul class="introduction-text">
        <li>
          As someone who loves travelling and going down geography rabbit holes on Wikipedia, I built this app to
          merge these two interests together.
        </li>
        <li>
          Have your favourite countries and countries you want to visit all in one place.
        </li>
        <li>
          Be inspired by beautiful photos,
          courtesy of <a href="https://unsplash.com/?utm_source=the_country_club&utm_medium=referral" target="_blank">Unsplash</a>,
          and learn more about each country.
        </li>
        <li>
          Get suggestions from <a href="https://www.anthropic.com/claude">Claude</a> for activities and recommendations
          for the best time to visit.
        </li>
      </ul>
      <% if !user_signed_in? %>
        <%= link_to "Join the Club", new_user_registration_path, class: "btn" %>
      <% elsif %>
        <%= link_to "Member's Area", dashboard_path, class: "btn" %>
      <% end %>
    </section>

    <section class="info-box grid">
      <article class="info-box">
        <h3>Where Next?</h3>
        <ul>
          <li>Discover your next holiday destination</li>
          <li>Use AI to get activity suggestions and to find out when the best time to go is</li>
          <li>Choose a country and add it to your wishlist</li>
          <li>Rank how much you want to visit there</li>
        </ul>
      </article>

      <article class="info-box">
        <h3>Relive It.</h3>
        <ul>
          <li>Revisit your favourite countries by adding a country to your favourites</li>
          <li>Keep track of how many times you've visited, and when</li>
          <li>Add any notes about the country</li>
          <li>You can even upload any photos from your trip (in development)</li>
        </ul>
        <%# link %>
      </article>

      <article class="info-box">
        <h3>Be Curious.</h3>
        <ul>
          <li>Learn more about a particular country, as each country page has useful facts and figures</li>
          <li>Find out its capital and where its located</li>
          <li>Discover how small or large a country is, in terms of population</li>
          <li>Get your travel money organised by using the currency exchange tool (in development)</li>
        </ul>
        <%= link_to "Visit a random country", country_path(@random_country), class: "web-link" %>
        <%# <div class="info-box-container right-image"> %>
          <%#= image_tag("/images/be-curious.gif", alt: "gif showing website navigation of country page", class: "home-page-gif") %>
        <%# </div> %>
      </article>

      <article class="info-box">
        <%# <div class="info-box-container left-image"> %>
          <%#= image_tag("/images/react-weather.gif", alt: "React Weather app gif", class: "home-page-gif") %>
        <%# </div> %>
          <h3>Be Prepared.</h3>
          <ul>
            <li>Use my weather website to get the weather and some activity suggestions for a city you're visiting</li>
            <li>Search for a city (or even an area of a particular city) so that you're prepared for the day, whatever the weather may be</li>
            <li>If you're stuck for ideas, use AI to get some activity suggestions that are weather-appropriate</li>
          </ul>
          <%= link_to "Visit React Weather", "https://react-weather-claude-app-af1fc23c96a1.herokuapp.com/", target: "_blank", class: "web-link" %>
      </article>
    </section>
  </section>

  <footer>
    <p>
      All photos from Unsplash. No offence is meant to be caused by any of the photos.
    </p>
  </footer>
</div>
