<div class="home container">
  <section class="banner" id="seven-continents">
    <h1 class="page-header">Welcome to The Country Club</h1>
    <h1 class="choose-header">Choose a continent or region</h1>
    <div class="button-group">
      <%= render "button_to_continent", area: "Africa" %>
      <%= render "button_to_continent", area: "Asia" %>
      <%= render "button_to_continent", area: "Europe" %>
      <%= render "button_to_continent", area: "Oceania" %>
      <%= render "button_to_region", area: "North America" %>
      <%= render "button_to_region", area: "Central America" %>
      <%= render "button_to_region", area: "South America" %>
      <%= render "button_to_region", area: "Caribbean" %>
    </div>
    <div class="world-map"></div>
  </section>

  <section class="explanation">
    <h1 class="section-title">Country Club Rules</h1>
    <h3>Here are some tips to help you navigate</h3>
    <div class="explanation-list">
      <ol>
        <li>Choose a continent or region. This will take you to a list of countries.</li>
        <li>Choose a country. You will find facts and information about the country.</li>
        <li>You can now add this country to a 'wishlist' if you want to visit there, and to 'favourites' if you have already visited!</li>
        <li>Head to the Member's Area to see your wishlists and favourites.</li>
      </ol>
    </div>
  </section>

  <footer>
    <p>
      All photos from Unsplash. No offence is meant to be caused by any of the photos.
    </p>
  </footer>
</div>
