<div class="home container">
  <section class="banner" id="seven-continents">
    <h1 class="page-header">Welcome to The Country Club</h1>
    <h1>Choose a continent or region</h1>
    <div class="world-map"></div>
    <%= link_to "Europe", continent_path("Europe") %>
    <%= link_to "Asia", continent_path("Asia") %>
    <%= link_to "Africa", continent_path("Africa") %>
    <%= link_to "Oceania", continent_path("Oceania") %>
    <%= link_to "North America", region_path("North America") %>
    <%= link_to "Central America", region_path("Central America") %>
    <%= link_to "South America", region_path("South America") %>
  </section>

  <section class="explanation">
    <h1 class="section-title">Country Club Rules</h1>
    <h3>Here are some tips to help you navigate</h3>
    <div class="explanation-list">
      <ol>
        <li>Choose a continent or region. This will take you to a list of countries.</li>
        <li>Choose a country. You will find facts and information about the country.</li>
        <li>You can now add this country to a 'wishlist' if you want to visit there, and to 'favourites' if you have already visited!</li>
        <li>Head to the Member's Area to see your wishlists and favourites.</li>
      </ol>
    </div>
  </section>

  <footer>
    <p>
      All photos from Unsplash. No offence is meant to be caused by any of the photos.
    </p>
  </footer>
</div>
