<%# Country show %>
<div class="country-page container">
  <% if @country_photo %>
    <div class="country-banner">
      <%= image_tag(@country_photo.image_url, alt: "#{@country_photo.image_alt}", class: "banner-image") %>
      <div class="banner-image-country-name">
        <h1><%= @country.name %></h1>
      </div>

      <div class="image-icons">
        <% case %>
        <% when @wishlist_already_created && @favourite_already_created %>
        <div class="icons">
          <div class="wishlist">
            <%= link_to edit_country_wishlist_path(@country) do %>
              <i class="fa-solid fa-paper-plane icon" alt="solid plane icon"></i>
            <% end %>
          </div>
          <div class="favourite">
            <%= link_to edit_country_favourite_path(@country) do %>
              <i class="fa-solid fa-heart icon" alt="solid heart icon"></i>
            <% end %>
          </div>
        </div>

        <% when @wishlist_already_created %>
        <div class="icons">
          <div class="wishlist">
            <%= link_to edit_country_wishlist_path(@country) do %>
              <i class="fa-solid fa-paper-plane icon" alt="solid plane icon"></i>
            <% end %>
          </div>
          <%= link_to new_country_favourite_path(@country) do %>
            <i class="fa-regular fa-heart icon" alt="empty heart icon"></i>
          <% end %>
        </div>

        <% when @favourite_already_created %>
        <div class="icons">
          <%= link_to new_country_wishlist_path(@country) do %>
            <i class="fa-regular fa-paper-plane icon" alt="empty plane icon"></i>
          <% end %>
          <div class="favourite">
            <%= link_to edit_country_favourite_path(@country) do %>
              <i class="fa-solid fa-heart icon" alt="solid heart icon"></i>
            <% end %>
          </div>
        </div>

        <% else %>
        <div class="icons">
          <%= link_to new_country_wishlist_path(@country) do %>
            <i class="fa-regular fa-paper-plane icon" alt="empty plane icon"></i>
          <% end %>
          <%= link_to new_country_favourite_path(@country) do %>
            <i class="fa-regular fa-heart icon" alt="empty heart icon"></i>
          <% end %>
        </div>
        <% end %>
      </div>

      <div class="banner-image-attributions">
        <p>
          Photo by
          <%= link_to @country_photo.photographer_name,
              "#{@country_photo.photographer_name}?utm_source=the_country_club&utm_medium=referral",
              target: '_blank', rel: 'noopener',
              class: "photographer-link" %>
          on
          <%= link_to 'Unsplash',
              'https://unsplash.com/?utm_source=the_country_club&utm_medium=referral',
              target: '_blank',
              rel: 'noopener',
              class: "photographer-link" %>
        </p>
      </div>
    </div>
  <% end %>

  <div
    class="ai-suggestion"
    data-controller="claude"
    data-claude-suggest-claude-url-value="<%= suggest_claude_country_path(@country) %>"
    data-claude-suggest-season-url-value="<%= suggest_season_country_path(@country) %>"
  >
    <div class="suggest-claude">
      <h2 class="ai-h2">What can I see and do in <%= @country.name %>?</h2>
      <button
        type="button"
        id="show-ai-button"
        data-claude-target="askClaudeButton"
        data-action="click->claude#showAi">
        Ask Claude
      </button>
      <div class="ai-text" data-claude-target="aiText"></div>
    </div>
    <div class="suggest-season">
      <h2 class="ai-h2">What is the best time of year to go?</h2>
      <button
        type="button"
        id="show-season-button"
        data-claude-target="seasonalButton"
        data-action="click->claude#seasonalSuggestion">
        Ask Claude
      </button>
      <div class="ai-text" data-claude-target="seasonalText"></div>
    </div>
  </div>

  <div class="country-info">
    <h2>Information</h2>
    <div class="show-country-cards">

      <div class="country-card-info">
        <%= image_tag(@country.flag, alt: @country.flag_alt, class: "individual-flag-image") %>
      </div>

      <%# <div class="country-card-info">
        <div class="clock" data-controller="clock">
          <div class="outer-clock-face">
            <div class="marking marking-one"></div>
            <div class="marking marking-two"></div>
            <div class="marking marking-three"></div>
            <div class="marking marking-four"></div>
          </div>
          <div class="inner-clock-face">
            <div class="hand hour-hand" data-clock-target="hourHand"></div>
            <div class="hand min-hand" data-clock-target="minsHand"></div>
            <div class="hand second-hand" data-clock-target="secondHand"></div>
          </div>
        </div>
        <div class="current-time">
          <%= Time.now.strftime('%B %e, %Y - %I:%M%P') %>
        <%# </div>
      </div> %>

      <div class="country-card-info">
        <h3>Capital City</h3>
        <p><%= @country.capital %></p>
        <div class="mapbox-country"
          data-controller="map"
          data-map-markers-value="<%= @capital_markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_TOKEN_KEY'] %>">
        </div>
      </div>

      <div class="country-card-info">
        <h3 class="show-card-title">Languages</h3>
        <% @country.languages.each do |language| %>
          <p><%= language unless language == "None" %></p>
        <% end %>
      </div>

      <div class="country-card-info">
        <h3>Population</h3>
        <p><%= number_with_delimiter(@country.population, :delimiter => ',') %></p>
        <p><%= population_index(@country) %></p>
      </div>

      <div class="country-card-info" data-controller="currency">
        <h3>Currency</h3>
        <p><%= "#{@country.currency} (#{@country.currency_code} / #{@country.currency_symbol})" %></p>
        <div class="user-input">
          <input type="text" placeholder="1" id="currency-input"> GBP = <%= "#{@country_rate} #{@country.currency_code}" %>
        </div>
        <p>(1 GBP = <%= "#{@country_rate} #{@country.currency_code}" %>)</p>
      </div>

      <div class="country-card-info">
        <h3>Area</h3>
        <p><%= number_with_delimiter(@country.area, :delimiter => ',') %> km²</p>
        <p><%= area_index(@country) %></p>
      </div>
    </div>
  </div>

  <div class="favourite-photos">
  <% if user_signed_in? && @favourite_already_created %>
    <h2>Here are your photos from your trip</h2>
    <% @favourite.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% else %>
    <h2>Add a country to your favourites to add any photos from your trip</h2>
  <% end %>
  </div>

  <div class="wishlist-favourite-cards">
    <% case %>
    <% when @wishlist_already_created && @favourite_already_created %>
    <div class="wishlist-card">
      <%= link_to edit_country_wishlist_path(@country), class: "list-link" do %>
        <i class="fa-solid fa-paper-plane icon" alt="solid plane icon"></i>
      <% end %>
      <%= render "delete_wishlist", country: @country %>
      <%= render "shared/wishlist_info", country: @country, wishlists: @user_wishlists %>
    </div>
    <div class="favourite-card">
      <%= link_to edit_country_favourite_path(@country), class: "list-link" do %>
        <i class="fa-solid fa-heart icon" alt="solid heart icon"></i>
      <% end %>
      <%= render "delete_favourite", country: @country %>
      <%= render "shared/favourite_info", country: @country, favourites: @user_favourites %>
    </div>

    <% when @wishlist_already_created %>
    <div class="wishlist-card">
      <%= link_to edit_country_wishlist_path(@country), class: "list-link" do %>
        <i class="fa-solid fa-paper-plane icon" alt="solid plane icon"></i>
      <% end %>
      <%= render "delete_wishlist", country: @country %>
      <%= render "shared/wishlist_info", country: @country, wishlists: @user_wishlists %>
    </div>
    <div class="favourite-card">
      <%= link_to new_country_favourite_path(@country), class: "list-link" do %>
        <i class="fa-regular fa-heart icon" alt="empty heart icon"></i>
        <p>Add this country to your favourites if you've been here before.</p>
      <% end %>
    </div>

    <% when @favourite_already_created %>
    <div class="wishlist-card">
      <%= link_to new_country_wishlist_path(@country), class: "list-link" do %>
        <i class="fa-regular fa-paper-plane icon" alt="empty plane icon"></i>
        <p>Add this country to your wishlist if you'd like to visit here.</p>
      <% end %>
    </div>
    <div class="favourite-card">
      <%= link_to edit_country_favourite_path(@country), class: "list-link" do %>
        <i class="fa-solid fa-heart icon" alt="solid heart icon"></i>
      <% end %>
      <%= render "shared/favourite_info", country: @country, favourites: @user_favourites %>
      <%= render "delete_favourite", country: @country %>
    </div>

    <% else %>
    <div class="wishlist-card">
      <%= link_to new_country_wishlist_path(@country), class: "list-link" do %>
        <i class="fa-regular fa-paper-plane icon" alt="empty plane icon"></i>
        <p>Add this country to your wishlist if you'd like to visit here.</p>
      <% end %>
    </div>
    <div class="favourite-card">
      <%= link_to new_country_favourite_path(@country), class: "list-link" do %>
        <i class="fa-regular fa-heart icon" alt="empty heart icon"></i>
        <p>Add this country to your favourites if you've been here before.</p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
