<%# Country show %>
<div class="country-page container">
  <div class="country-banner">
    <%= image_tag(@country_image[:raw_url], alt: "#{@country_image[:alt_description]}", class: "banner-image") %>
    <div class="banner-image-country-name">
      <h1><%= @country.name %></h1>
    </div>

    <div class="image-icons">
      <% case %>
      <% when @wishlist_already_created && @favourite_already_created %>
        <div class="icons">
          <div class="wishlist">
            <%= link_to edit_country_wishlist_path(@country) do %>
              <i class="fa-solid fa-paper-plane icon" alt="solid plane icon"></i>
            <% end %>
          </div>
          <div class="favourite">
            <%= link_to edit_country_favourite_path(@country) do %>
              <i class="fa-solid fa-heart icon" alt="solid heart icon"></i>
            <% end %>
          </div>
        </div>

      <% when @wishlist_already_created %>
        <div class="icons">
          <div class="wishlist">
            <%= link_to edit_country_wishlist_path(@country) do %>
              <i class="fa-solid fa-paper-plane icon" alt="solid plane icon"></i>
            <% end %>
          </div>
          <%= link_to new_country_favourite_path(@country) do %>
            <i class="fa-regular fa-heart icon" alt="empty heart icon"></i>
          <% end %>
        </div>

      <% when @favourite_already_created %>
        <div class="icons">
          <%= link_to new_country_wishlist_path(@country) do %>
            <i class="fa-regular fa-paper-plane icon" alt="empty plane icon"></i>
          <% end %>
          <div class="favourite">
            <%= link_to edit_country_favourite_path(@country) do %>
              <i class="fa-solid fa-heart icon" alt="solid heart icon"></i>
            <% end %>
          </div>
        </div>

      <% else %>
        <div class="icons">
          <%= link_to new_country_wishlist_path(@country) do %>
            <i class="fa-regular fa-paper-plane icon" alt="empty plane icon"></i>
          <% end %>
          <%= link_to new_country_favourite_path(@country) do %>
            <i class="fa-regular fa-heart icon" alt="empty heart icon"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="banner-image-attributions">
      <p>
        Photo by
        <%= link_to @country_image[:photographer_name], @country_image[:photographer_url], target: '_blank', rel: 'noopener', class: "photographer-link" %>
        on
        <%= link_to 'Unsplash', 'https://unsplash.com/', target: '_blank', rel: 'noopener', class: "photographer-link" %>
      </p>
    </div>
  </div>

  <div class="country-info">
    <h2>Information</h2>
    <div class="show-country-cards">
      <div class="country-card-info">
        <%= image_tag(@country.flag, alt: @country.flag_alt, class: "flag-image") %>
      </div>
      <div class="country-card-info">
        <h3>Capital City</h3>
        <p><%= @country.capital %></p>
        <p>Part of <%= @country.region %></p>
      </div>
      <div class="country-card-info">
        <h3>Languages Spoken</h3>
        <p><%= @country.language_one %></p>
        <% if @country.language_two && @country.language_three %>
          <p><%= @country.language_two %></p>
          <p><%= @country.language_three %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="wishlist-favourite-cards">
    <% case %>
    <% when @wishlist_already_created && @favourite_already_created %>
    <div class="wishlist-card">
      <%= link_to edit_country_wishlist_path(@country), class: "list-link" do %>
        <i class="fa-solid fa-paper-plane icon" alt="solid plane icon"></i>
      <% end %>
      <%= render "shared/wishlist_info", country: @country, wishlists: @user_wishlists %>
    </div>
    <div class="favourite-card">
      <%= link_to edit_country_favourite_path(@country), class: "list-link" do %>
        <i class="fa-solid fa-heart" alt="solid heart icon"></i>
      <% end %>
      <%= render "shared/favourite_info", country: @country, favourites: @user_favourites %>
    </div>

    <% when @wishlist_already_created %>
    <div class="wishlist-card">
      <%= link_to edit_country_wishlist_path(@country), class: "list-link" do %>
        <i class="fa-solid fa-paper-plane icon" alt="solid plane icon"></i>
      <% end %>
      <%= render "shared/wishlist_info", country: @country, wishlists: @user_wishlists %>
    </div>
    <div class="favourite-card">
      <%= link_to new_country_favourite_path(@country), class: "list-link" do %>
        <i class="fa-regular fa-heart" alt="empty heart icon"></i>
      <% end %>
    </div>

    <% when @favourite_already_created %>
    <div class="wishlist-card">
      <%= link_to new_country_wishlist_path(@country), class: "list-link" do %>
        <i class="fa-regular fa-paper-plane icon" alt="empty plane icon"></i>
      <% end %>
    </div>
    <div class="favourite-card">
      <%= link_to edit_country_favourite_path(@country), class: "list-link" do %>
        <i class="fa-solid fa-heart icon" alt="solid heart icon"></i>
      <% end %>
      <%= render "shared/favourite_info", country: @country, favourites: @user_favourites %>
    </div>

    <% else %>
    <div class="wishlist-card">
      <%= link_to new_country_wishlist_path(@country), class: "list-link" do %>
        <i class="fa-regular fa-paper-plane icon" alt="empty plane icon"></i>
        <p>Add this country to your wishlist if you'd like to visit here.</p>
      <% end %>
    </div>
    <div class="favourite-card">
      <%= link_to new_country_favourite_path(@country), class: "list-link" do %>
        <i class="fa-regular fa-heart" alt="empty heart icon"></i>
        <p>Add this country to your favourites if you've been here before.</p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
