<h1>hello</h1>

<% if @wishlist_already_created %>
  <h2>You have already added this country to a wishlist!</h2>
  <h3>Update your wishlist instead?</h3>
<% else %>
  <div class="new-form">
    <%= simple_form_for [@country, @wishlist] do |f| %>
      <%= f.input :desire_rating %>
      <%= f.input :note %>
      <%= f.input :future_visit_date %>
      <%= f.button :submit %>
    <% end %>
  </div>
<% end %>
