<!DOCTYPE html>
<html>
  <head>
    <title>The Country Club</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Raleway:ital,wght@0,100;1,100&family=Roboto:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap" rel="stylesheet">
    <%= vite_stylesheet_tag 'application' %>
    <%# <%= javascript_importmap_tags %>
    <%= vite_client_tag %>
    <%# <%= vite_javascript_tag 'application' %>
    <%= vite_typescript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>
  <body data-controller="navbar" data-navbar-target="body">
    <div class="wrapper">
      <%= render 'shared/sidebar' %>

      <div class="section">
        <%= render 'shared/top_navbar' %>

        <div class="main-body">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'shared/flashes' %>
  </body>
</html>
